footer {
	margin-top: 6em;
}

.project {
	clear: left;
	min-height: 128px;
}
.project + .project { margin-top: 3em }
.project img {
	width: 128px;
	height: 128px;
	/*float: left;*/
	margin-right: 1em;
}
.project h2, .project p {
	/*margin-left: 136px;*/
}

.clear { clear: both }


.project-page .banner {
	width: 100%;
	max-width: 1000px;
	margin: 2em auto;
}